flows-21.json
[{"id":"f3083b5c.3de73","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"14b19119.779a0f","type":"ncd-gateway-node","z":"f3083b5c.3de73","name":"","connection":"3a674906.5b9e76","unknown_devices":0,"outputs":1,"x":350,"y":400,"wires":[["114d6fec.ef6238"]]},{"id":"3304074.d82dcf8","type":"function","z":"f3083b5c.3de73","name":"","func":"var obj1 = {};\nobj1.payload = msg.payload.sensor_data;\nobj1.payload.timestamp = msg.payload.received;\nobj1.filename = \"/root/\"+msg.payload.addr.replace(/:/g, \"\")+\".csv\"\nvar obj2 = {};\nobj2.payload = msg.payload.sensor_data.temperature;\nvar obj3 = {};\nobj3.payload = msg.payload.sensor_data.humidity;\n\nreturn [obj1,obj2,obj3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":730,"y":400,"wires":[["29a4a1eb.7604e6"],["d36ce4f4.6840e"],["c80aad56.0b67"]]},{"id":"114d6fec.ef6238","type":"switch","z":"f3083b5c.3de73","name":"","property":"payload.addr","propertyType":"msg","rules":[{"t":"eq","v":"00:13:a2:00:41:f0:48:13","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":400,"wires":[["3304074.d82dcf8","9140f703.53e138"],[]]},{"id":"29a4a1eb.7604e6","type":"csv","z":"f3083b5c.3de73","name":"","sep":",","hdrin":false,"hdrout":"once","multi":"one","ret":"\\n","temp":"timestamp,temperature,humidity","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":930,"y":360,"wires":[["c4cd42dc.f1624"]]},{"id":"c4cd42dc.f1624","type":"file","z":"f3083b5c.3de73","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1090,"y":360,"wires":[["3d3f8ca5.8772e4"]]},{"id":"d36ce4f4.6840e","type":"ui_gauge","z":"f3083b5c.3de73","name":"","group":"166a6205.a7b786","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"-20","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":400,"wires":[]},{"id":"c80aad56.0b67","type":"ui_gauge","z":"f3083b5c.3de73","name":"","group":"166a6205.a7b786","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":440,"wires":[]},{"id":"f3530b5d.496668","type":"csv","z":"f3083b5c.3de73","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1390,"y":360,"wires":[["4c5ead34.f42264"]]},{"id":"3d3f8ca5.8772e4","type":"file in","z":"f3083b5c.3de73","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1250,"y":360,"wires":[["f3530b5d.496668"]]},{"id":"4c5ead34.f42264","type":"function","z":"f3083b5c.3de73","name":"","func":"var temp_readings = [];\nvar hum_readings = [];\n\nfor(i = 0; i < msg.payload.length; i++){\n    var temp_reading = {\"x\":msg.payload[i].col1, \"y\":msg.payload[i].col2};\n    var hum_reading = {\"x\":msg.payload[i].col1, \"y\":msg.payload[i].col3};\n    temp_readings.push(temp_reading);\n    hum_readings.push(hum_reading);\n}\ndata_out=[temp_readings, hum_readings];\nmsg.payload = [{\"series\":[\"Temperature\",\"Humidity\"],\"data\":data_out,\"labels\":[\"Temperature\",\"Humidity\"]}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":360,"wires":[["66fd74b5.9892a4"]]},{"id":"66fd74b5.9892a4","type":"ui_chart","z":"f3083b5c.3de73","name":"","group":"166a6205.a7b786","order":31,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1710,"y":360,"wires":[[]]},{"id":"9140f703.53e138","type":"debug","z":"f3083b5c.3de73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":320,"wires":[]},{"id":"3a674906.5b9e76","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"/dev/ttyS1","baudRate":"115200","pan_id":"7FFF","rssi":false},{"id":"166a6205.a7b786","type":"ui_group","name":"Dashboard","tab":"c829fa52.85fe48","order":1,"disp":true,"width":"6","collapse":false},{"id":"c829fa52.85fe48","type":"ui_tab","name":"Sensor Graph","icon":"dashboard","disabled":false,"hidden":false}]